body {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;

}

p {
  font-family: "Open Sans", Arial, sans-serif;
}

a:link {
  color: #fff8de;
  text-decoration: underline;
}

a:visited {
  color: #fff8de;
  text-decoration: underline; 
}

a:hover {
  color: #FFF;
  text-decoration: none;
}

#container {
  height: auto;
  margin: 0 auto;
  padding: 0;
  position: relative;
  top: 0; right: 0; left: 0; bottom: 0;
}

.panel {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  margin: 0;
  height: 0;
  overflow: hidden;
}

.box {
  position: absolute;
  width: 20%;
  height: 250px;
  margin: auto;
  top:0; left:0; right:0; bottom:0;
  color: #fff8de;
  /*background-color: rgba(255, 255, 255, 0.2);*/
/*  border-style: solid;
  border-width: 2px;*/
  padding: 10px 10px 10px 10px;
}


